@charset "UTF-8";

body, ul ,li , ol, div,dl,dt,dd, h1,h2,h3,h4,h5,h6,img {
    margin: 0;
    padding:0;

}
img ,input {
    padding: 0;
    border: 0;
}
ul,ol,li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #666666;
}
body{
    font-size: 12px;
}
.clearfix:after{
    content: "";
    list-style: none;
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;
}
.clearfix{
    zoom: 1;
}


